        /******************************Tag Selectors****************************/
        
        /*
            border-style:
            https://devdocs.io/css/border-style

            default css values of html element:
            https://www.w3schools.com/cssref/css_default_values.asp

            css background color:
            https://devdocs.io/css/background
            https://devdocs.io/css/color
            
        */
        body {
            background-color: #DFD8CA;
        }

        hr {
            border-style: dotted;
            border-color: grey;
            border-width: 5px 0px 0px 0px;
            width: 5%;
            height: 2px;
        }

        img {
            height: 200px;
        }

        h1{
            color: #B91646;
        }
        h3{
            color: #B91646;
        }

        /**********************************Class Selectors***************************/